.gallery-item-sizer {
  width: 232px;
}

.gallery-item-container {
  width: 232px;
  padding: 5px;
}

.gallery-item-container--large,
.gallery-item-container--double {
  width: 464px;
}

.gallery-item {
  padding: 0;

  & img {
    max-width: 100%;
    padding: 0;
    border-radius: 10px;
  }
}
