.gallery {
  margin-bottom: 120px;
}

.gallery-item-container {
  width: 232px;
  height: 266px;
  padding: 5px;

  z-index:1;
  transition: transform 0.5s, z-index 0.5s;

  & .gallery-item {
    width: 222px;
  }

  &:hover {
    z-index: 1000;
    transform: scale3d(1.5, 1.5, 1);
  }
}

.gallery-item-container--large,
.gallery-item-container--double {
  width: 464px;

  & .gallery-item {
    width: 454px;
  }
}

.gallery-item-container--high,
.gallery-item-container--double {
  height: 522px;
}


.gallery-item {
  padding: 0;

  & img {
    max-width: 100%;
    padding: 0;
    border-radius: 10px;
  }
}
