.footer {
  text-align: center;
}

.externalReference {
  font-size: 0.75rem;
  line-height: 16px;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

.reactSvg {
  margin: auto;
  vertical-align: middle; 
  display: inline-block;
}

.externalReferenceName {
  font-weight: 100;
}
