.page {
  display: flex;
  flex-direction: column;
}

.grid {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding-left: var(--contentHorizontalPadding);
  padding-right: var(--contentHorizontalPadding);
}

.heading {
  color: var(--colorNeutralLight);
  text-shadow:
    0 0 10px var(--colorPrimaryDark),
    0 0 6px var(--colorNeutralDark),
    0 0 2px var(--colorNeutralDark)
  ;
  letter-spacing: 1px;
}

.pageContent {
  margin-bottom: 1rem;
}

.body {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 20%));
      text-decoration: none;
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }
}
